@import url(../css/custom/custompropertiers.css);

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
  margin: 0;
  overflow-x: 0;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: sidebar;
  height: 100vh; 
  width: 250px;
  background-color: var(--aside-fondo);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
}

.sidebar__link {
  color: var(--aside-links);
  text-decoration: none;
  margin-top: 29px;
  cursor: pointer;
  padding: 10px;
}

.main {
  grid-area: main;
  padding: 30px;
  overflow-y: auto;
}
.galeria {
  display: grid;
  gap: 25px;
  
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - 25px), 1fr));
}
.producto {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--fondo-main);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5 );
  border: none;
  overflow: hidden;
  /* height: 300px;
  width: 310px; */
}

.producto__descripcion {
  text-align: justify;
}
.contenedor__precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contenedor__iconos {
  display: flex;
  gap: 2rem;
}
.producto__imagen {
  object-fit: cover;
  height: 130px;
  width: 310px;
}
.sidebar__link:hover {
  background-color: dodgerblue;
  transition: 1s;
}
