@import url(../css/custom/custompropertiers.css);

body
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0;
}

header
{
    display: flex;
    background-color: red;
}

.main
{
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 255, 255);
    align-items: center;
    justify-content: center;
}

.formulario
{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:cornflowerblue;    
    align-items: center;
    border-radius: 8px;
    border: none;
}

.formulario__producto
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    margin-top: 30px;
}

.formulario__input
{
    width: 310px;
    height: 45px;
    border: none;
    gap: 10px;  
}

.formulario__boton
{
    width: 310px;
    height: 30px;
    cursor: pointer;
}