:root{
    --fondo-formulario:#ffff;
    --fondo-main:#ffff;
    --formulario-color:#333;
    --fondo-formulario-input:#f0f5ff;
    --fondo-boton:#1a1a1a;
    --color-boton--texto:#ffff;
    --fondo-inicio:#2c3e50;
    --color-boton:#112244;
    --color-texto:#f4f7f6;
    --aside-fondo:#EEF5FF;
    --aside-links:#170d9b;
}   
