<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/editarusuario.css">
    <link rel="stylesheet" href="/css/editarusuario-mediaqueries.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Editar Usuario</title>
</head>

<body>
    <aside class="sidebar">
        <div class="contenedor__sidebar">
            <a href="productos.html" class="sidebar__back">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <h2 class="sidebar__titulo-principal">Tienda<br>Don Pedro</h2>
            <a href="historialventa.html" class="sidebar__link">Historial</a>
            <a href="registrarventa.html" class="sidebar__link">Registrar Venta</a>
            <a href="deudores.html" class="sidebar__link">Deudores</a>
            <a href="editarusuario.html" class="sidebar__link sidebar__link--activo">Usuarios</a>
        </div>
    </aside>

    <main class="main">
        <div class="editar-usuario">

            <h2 class="editar-usuario__titulo">Editar Usuario</h2>

            <form class="editar-usuario__formulario">
                <div class="editar-usuario__campo">
                    <label class="editar-usuario__label">Nombre</label>
                    <input type="text" class="editar-usuario__input" value="Pedro Perez">
                </div>

                <div class="editar-usuario__campo">
                    <label class="editar-usuario__label">Correo electrónico</label>
                    <input type="email" class="editar-usuario__input" value="pedroperez@gmail.com">
                </div>

                <div class="editar-usuario__campo">
                    <label class="editar-usuario__label">Contraseña</label>
                    <input type="password" class="editar-usuario__input" value="contraseña123">
                </div>

                <button type="submit" class="editar-usuario__btn-guardar">Guardar</button>
            </form>

        </div>
    </main>
</body>

</html>