<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registroProducto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Registro de producto</title>
</head>
<body>
    <header class="header">
        <div class="header__contenedor">
            <a class="header__link" href="/view/productos.html">
            <i class="fa-solid fa-arrow-left  header__icono" ></i>
            </a>
        <h2 class="header__titulo">Bienvenido</h2>
        </div>
    </header>
    <main class="main">

        <form class="formulario" action="../view/productos.html">

            <div class="formulario__producto">
                <label for="nombre" class="formulario__etiqueta">Nombre del producto</label>
                <input type="text" id="nombre" name="nombre" class="formulario__input" placeholder="Ingrese el nombre" required>
            </div>

            <div class="formulario__producto">
                <label for="Descripcion" class="formulario__etiqueta">Descripcion</label>
                <textarea id="Descripcion" name="Descripcion" class="formulario__input"></textarea>
            </div>

            <div class="formulario__producto">
                <label for="precio" class="formulario__etiqueta">Precio</label>
                <input type="text" id="Precio" name="Precio" class="formulario__input" placeholder="Ingrese el precio" required>
            </div>


            <div class="formulario__producto">
                <label for="Cantidad" class="formulario__etiqueta">Cantidad</label>
                <input type="number" id="Cantidad" name="Cantidad" class="formulario__input" placeholder="Ingrese la cantidad" required>
            </div>
            
            <button type="submit" class="formulario__boton">Registrar producto</button>

        </form>

    </main>
</body>
</html>