<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/controlstock.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>Control de stock</title>
</head>
<body>
<header class="header">

    <div class="header__contenedor">
        <a href="productos.html" class="header__link">
        <i class="fa-solid fa-arrow-left header__icono"></i>
        </a>
        <h2 class="header__titulo">Registrar venta</h2>
    </div>
    
</header>

<main class="main">
        
</main>
    </body>
</html>                                                                                                                                                                                                 