<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reportes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Reportes</title>
</head>

<body>
    <header class="header">

        <div class="header__contenedor">
            <a href="productos.html" class="header__link">
                <i class="fa-solid fa-arrow-left header__icono"></i>
            </a>
            <h2 class="header__titulo">Reportes</h2>
        </div>

    </header>

    <main class="main">
        <div class="reportes">

            <div class="reportes__busqueda">
                <i class="fas fa-search reportes__icono-busqueda"></i>
                <input type="text" class="reportes__input-busqueda" placeholder="Buscar">
            </div>

            <table class="contenedor-tabla">

                <thead class="reportes__tabla-head">
                    <tr>
                        <th class="reportes__columna">Fecha</th>
                        <th class="reportes__columna">Ventas</th>
                        <th class="reportes__columna">Gastos</th>
                        <th class="reportes__columna">Ganancias</th>
                    </tr>
                </thead>

                <tbody class="reportes__tabla-body">

                    <tr class="reportes__item">
                        <td class="reportes__valor">12/04/2024</td>
                        <td class="reportes__valor">$50.000</td>
                        <td class="reportes__valor">$20.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$30.000</td>
                    </tr>

                    <tr class="reportes__item">
                        <td class="reportes__valor">11/04/2024</td>
                        <td class="reportes__valor">$40.000</td>
                        <td class="reportes__valor">$15.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                    <tr class="reportes__item">
                        <td class="reportes__valor">10/04/2024</td>
                        <td class="reportes__valor">$35.000</td>
                        <td class="reportes__valor">$10.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                        <tr class="reportes__item">
                        <td class="reportes__valor">10/04/2024</td>
                        <td class="reportes__valor">$35.000</td>
                        <td class="reportes__valor">$10.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                        <tr class="reportes__item">
                        <td class="reportes__valor">10/04/2024</td>
                        <td class="reportes__valor">$35.000</td>
                        <td class="reportes__valor">$10.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                        <tr class="reportes__item">
                        <td class="reportes__valor">10/04/2024</td>
                        <td class="reportes__valor">$35.000</td>
                        <td class="reportes__valor">$10.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                        <tr class="reportes__item">
                        <td class="reportes__valor">10/04/2024</td>
                        <td class="reportes__valor">$35.000</td>
                        <td class="reportes__valor">$10.000</td>
                        <td class="reportes__valor reportes__ganancia--positiva">$25.000</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </main>
</body>

</html>